/* 
-- Theme Palette Colors --
Include all your color palette in this file
*/

$primary-color: #103470;
$green: green;
$red: red;
$blue: blue;
$black: black;
$white: white;

$dark-white: #f9f9f9;
$neutral-white: #ffffff;
$blueish-white:#F5F8FC;

$neutral-black: #202020;
$grey-500: #0f0f0f;
$grey-100: #858089;
$grey-200: grey;
$grey-300:#5A5A5A;
$dark-grey:#585A60;
$neutral-grey-50: #dcdcdc;
$neutral-grey-100: #f9f9f9;
$neutral-grey-200: #898989;
$neutral-grey-300: #b3b3b3;
$neutral-grey-400: #1a1a1a;
$secondary-color-100: #00c566;
$secondary-color-200: #26a7de26;
$secondary-color-300: #ffd65833;
$secondary-color-400: #fff2ed;
$secondary-color-500: #ffc000;
$secondary-color-600: #f3cc5c1f;
$secondary-color-700:  #E6F9F0;
$secondary-color-800:#70B6C1;

