@import "../../../../../base-styles/index";

.wrapper {
  .container {
    display: flex;
    position: relative;

    input {
      flex: 1;
      background-color: $neutral-grey-100;
      border-radius: 0.8rem;
      border: none;
      outline: none;
      padding-left: 2rem;
      padding-right: 1rem;
      transition: all 250ms ease-in-out;
      height: 6rem;

      &.withError {
        box-shadow: 0px 0px 0px 2px red;
      }

      &:focus {
        box-shadow: 0px 0px 0px 2px $primary-color !important;
      }

      &,
      &::-webkit-input-placeholder,
      &::placeholder {
        font-weight: 500;
        color: $neutral-grey-400;
        font-size: 1.6rem;
        line-height: 2.7rem;
      }
    }

    .visibilityContainer {
      position: absolute;
      cursor: pointer;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);

      .show,
      .hide {
        display: none;
        user-select: none;

        &.active {
          display: inline-block;
        }
      }
    }
  }

  .errorText {
    color: red;
    margin-top: 1rem;
    @include text-links-x-small;
  }
}
